

<div class="text-center">
    <h1>Welcome To Our Library Management System</h1>
    <p class="lead text-muted">
        Here You Can Easily Manage Your Digital library , With Aswsome Features
        Press Here To Start 
        <a asp-controller="Book" asp-action="Get">Start Now</a> 
    </p>
</div>